streamlit
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
langchain-classic
chromadb==0.5.5
sentence-transformers
python-dotenv
textblob
pypdf
protobuf==3.20.3
torch
torchvision
sentence-transformers
transformers