streamlit

langchain==1.0.3
langchain-classic==1.0.3

langchain-chroma==1.1.0
chromadb==0.5.5

langchain-groq
langchain-huggingface

sentence-transformers
transformers

python-dotenv
textblob
pypdf
protobuf==3.20.3